<% include header %>

  <h1><%-title %> 竞拍信息</h1>
  <div class='jumbotron'>
    <h3><%=product.name %></h3>
    <p>_id: <%=product._id %></p>
    <p>sold: <%= (product.sold)?'竞拍结束':'竞拍中...' %></p>
    <p>listPrice: <%=product.listPrice %></p>
    <p>bidPrice: <%=product.bidPrice %></p>
    <p>ts: <%= moment(product.ts).format('YYYY-MM-DD HH:mm:ss') %></p>
    <% if(product.deadline) { %>
      <p>deadline: <%= moment(product.deadline).format('YYYY-MM-DD HH:mm:ss') %></p>
    <% } %>
    <% if (product.sold == 0) { %>
      <form action="/bid" method='post'>
        <input type="hidden" name="productId" value="<%=product._id %>">
        <input type="hidden" name="userId" value="<%=userId %>">
        <input type="text" name="price" placeholder="请输入高于 listPrice 的价格">
        <input type="submit" value="提交">
      </form>
    <% } %>
    <% if (product.tenderList.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th>
              投标序号
            </th>
            <th>
              投标userId
            </th>
            <th>
              投标价格
            </th>
          </tr>
        </thead>
        <tbody>
          <% product.tenderList.forEach(function(tender, index) { %>
            <tr>
              <td><%-index%></td>
              <td><%=tender.userId%></td>
              <td><%=tender.price%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </div>
<% include footer %>
